product-listing{
.item-listing
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    width:100%;
    align-self: flex-start;
    
    &__items
    {
        display: flex;
        flex-wrap: wrap;

        &.item-listing--3items
        {
        
            .item-medium-1, product-item
            {    
                min-width: 33%;
            }
        }
        &.item-listing--4items
        {
            .item-medium-1, product-item
            {    
                min-width: 25%;
            }
        }
    }

    &__tools
    {
        margin: 1.5rem;
        display: flex;
    }
}}