<!-- Template driven form -->
 <div class=" container">
    <form  #myForm="ngForm" class="add-product" action="" (ngSubmit)="onSubmit(myForm)">
        <div class="add-product__images slider">
            <div class="add-product__image-actions">
                <div class="add-product__image-action">
                    <a href="#"><i class="fas fa-plus-square"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="slider__items">
                <div class="slider__item active" style="background-image: url(assets/img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(assets/img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(assets/img/products/product-grey-7.jpg)"></div>
            </div>
            <div class="slider__indicators">
                <span class="slider__indicator active"></span>
                <span class="slider__indicator"></span>
                <span class="slider__indicator"></span>
            </div>
        </div>
        <div class="add-product__data">
            <div class="form-controls">
                <section class="tabs">
                    <div class="tabs__headers">
                        <div class="tabs__header active">
                            English
                        </div>
                        <div class="tabs__header">
                            Arabic
                        </div>
                    </div>
                    <div class="tabs__bodies">
                        <div class="tabs__body active">
                            <div class="form-group" [ngClass]="{'invalid':txtName.invalid &&txtName.touched}">
                                <label for="">Name</label>
                                <input required #txtName="ngModel" [(ngModel)]="product.name" class="form-control" type="text" name="name" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea   [(ngModel)]="product.description" class="form-control" name="description" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="tabs__body ">
                            <div class="form-group ">
                                <label for="">Name</label>
                                <input class="form-control" type="text" name="" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea class="form-control" name="" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input [(ngModel)]="product.price" class="form-control" type="text" name="price" id="price">
                </div>
                <div class="add-product__discount">
                    <div class="form-group">
                        <label for="">Satus</label>
                        <div class="form-group__radios">
                            <div class="form-group__radio"><input [(ngModel)]="onSale"  type="radio" name="onSale" [value]="1" id="onsale"><span for="onsale">On Sale</span></div>
                            <div class="form-group__radio"><input [(ngModel)]="onSale"  type="radio" name="onSale" id="NotOnSale" [value]="2"><span for="NotOnSale">Not On Sale</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Discount</label>
                        <input [disabled]="onSale==2" ngModel class="form-control" type="text" name="discount" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Payment Types</label>
                    <div  class="form-group__checkboxs">
                    
                        <div *ngFor="let paymentType of paymentTypes; let i=index" class="form-group__checkbox">
                            <input ngModel  type="checkbox"  [name]="'check'+i" id="">
                            <span>{{paymentType.name}}</span></div>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select [(ngModel)]="product.category.id" class="form-control" name="ddlCategory" >
                        <option *ngFor= "let category of categories" [value]="category.id"></option>
                     
                    </select>
                </div>

                <div  class="taged-textbox form-group">
                    <label class="taged-textbox__lable" for="">Tags</label>
                    <div  class="taged-textbox__data">
                        <div class="taged-textbox__tags">
                            <div class="taged-textbox__tag"><span>tag1</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag2</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag3</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag4</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag5</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag6</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag7</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag8</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag9</span><a href="#" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                            <div class="taged-textbox__tag"><span>tag10</span><a class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                        </div>
                        <div class="taged-textbox__clear">
                            <a href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <input ngModel class="taged-textbox__textbox form-control" type="text" name="txtTag" id="">
                </div>
                <div class="add-product__actions">
                    <button href="#" class="btn btn--gray">Cancel</button>
                    <button [disabled]="myForm.invalid" href="#"  class="btn btn--primary">Add</button>
                    
                </div>
            </div>
        </div>
    </form>
</div>
    
<!-- reactive form -->

<!--<div class="container">
    <form [formGroup]="myForm"  class="add-product" action="" (ngSubmit)="onSubmit(myForm)">
        <div class="add-product__images slider">
            <div class="add-product__image-actions">
                <div class="add-product__image-action">
                    <a href="#"><i class="fas fa-plus-square"></i></a>
                    <a href="#"><i class="fas fa-edit"></i></a>
                    <a href="#"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            <div class="slider__items">
                <div *ngFor="let image of myForm.controls['images'].controls;let i= index"class="slider__item active" style="background-image: url(assets/img/products/product-grey-7.jpg)"></div>
                <!-- <div class="slider__item" style="background-image: url(assets/img/products/product-grey-7.jpg)"></div>
                <div class="slider__item" style="background-image: url(assets/img/products/product-grey-7.jpg)"></div>
           
            </div>
            <div class="slider__indicators">
                <span *ngFor="let image of myForm.controls['images'].controls ;let i= index" [ngClass]="{'active':selectedImage==i}" class="slider__indicator"(click)="selectedImage=i"></span>
                <!-- <span class="slider__indicator"></span>
                <span class="slider__indicator"></span> 
            </div>
        </div>
        <div class="add-product__data">
            <div class="form-controls">
                <section class="tabs">
                    <div class="tabs__headers">
                        <div *ngFor="let lang of langData.controls;let i=index" class="tabs__header"[ngClass]="{'active':i===currentLangTab}"(click)="currentLangTab=i">
                            {{lang.value.langName}}
                        </div>
                     
                    </div>
                    <div class="tabs__bodies">
                        <div class="tabs__body active">
                            <div class="form-group" >
                                <label for="">Name</label>
                                <input  class="form-control" type="text" name="name" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea   class="form-control" name="description" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="tabs__body ">
                            <div class="form-group">
                                <label for="">Name</label>
                                <input  class="form-control" type="text" name="" id="">
                            </div>
                            <div class="form-group">
                                <label for="">Description</label>
                                <textarea  class="form-control" name="" id="" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input [formControlName]="'price'" class="form-control" type="text" name="price" id="price">
                </div>
                <div class="add-product__discount">
                    <div class="form-group">
                        <label for="">Satus</label>
                        <div class="form-group__radios">
                            <div class="form-group__radio"><input  type="radio" name="onSale" [value]="1" id="onsale"><span for="onsale">On Sale</span></div>
                            <div class="form-group__radio"><input   type="radio" name="onSale" id="NotOnSale" [value]="2"><span for="NotOnSale">Not On Sale</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Discount</label>
                        <input [formControlName]="'discount'"  class="form-control" type="text" name="discount" id="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Payment Types</label>
                    <div  class="form-group__checkboxs">
                    
                        <div *ngFor="let paymentType of paymentTypes; let i=index" class="form-group__checkbox">
                            <input  type="checkbox"  [name]="'check'+i" id=""  (change)="Onchange($event,i)">
                            <span>{{paymentType.name}}</span></div>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select  (change)="selectOption($event.target.value)" class="form-control" name="ddlCategory" id="">
                        <option></option>

                        <option *ngFor= "let category of categories" [value]="category.id">{{category.name}}</option>
                     
                    </select>
                </div>

                <div  class="taged-textbox form-group">
                    <label class="taged-textbox__lable" for="">Tags</label>
                    <div  class="taged-textbox__data">
                        <div class="taged-textbox__tags">
                            <div *ngFor="let tag of tags.controls;let i=index" class="taged-textbox__tag"><span>{{tag.value}}</span><a (click)="onDeleteTag(i)" class="taged-textbox__remove"><i
                                        class="fas fa-times"></i></a></div>
                          
                        </div>
                        <div class="taged-textbox__clear">
                            <a  href="#"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <input #txtTagName (keyup.shift)="onAddTag(txtTagName)" class="taged-textbox__textbox form-control" type="text" name="txtTag" id="">
                </div>
                <div class="add-product__actions">
                    <button href="#" class="btn btn--gray">Cancel</button>
                    <button  href="#"  class="btn btn--primary">Add</button>
                    
                </div>
            </div>
        </div>
    </form>
</div>-->